<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Author</title>
</head>
<body>
    <h1>Create new author</h1>
    <p>
        <a href="/authors">
            Back to list author
        </a>
    </p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form action="/create-author" th:object="${author}" method="post">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" th:field="*{address}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="create"></td>
            </tr>
        </table>
    </form>
</body>
</html>