<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Author</title>
</head>
<body>
    <h1>Delete author</h1>
    <h2>Are you sure</h2>
    <p>
        <a href="/authors">
            Back to list author
        </a>
    </p>
    <form action="/delete-author" th:object="${author}" method="post">
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td>name</td>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td th:text="*{address}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="delete"></td>
            </tr>
        </table>
    </form>
</body>
</html>